@model Person
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<dl>
    <dt>Name</dt>
    <dd>@Model.Name</dd>
    <dt>City</dt>
    <dd>@Model.City</dd>
    <dt>Phone</dt>
    <dd>@Model.Phone</dd>
    <dt>Action:</dt>
    <dd>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </dd>
</dl>

<table>
    <table>
        <thead>
            <tr>City</tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PersonHistory)
            {
                @item.CityName
            }
        </tbody>
    </table>


</table>