@model PersonIndexViewModel
@{
    ViewData["Title"] = "Person Index";
}

<h1>Index</h1>


<form asp-action="Create" asp-controller="People" method="post">

    <label asp-for="CreatePerson.Name"></label>
    <input asp-for="CreatePerson.Name">
    <span asp-validation-for="CreatePerson.Name"></span>

    <label asp-for="CreatePerson.City"></label>
    <input asp-for="CreatePerson.City" />
    <span asp-validation-for="CreatePerson.City"></span>

    <label asp-for="CreatePerson.Phone"></label>
    <input asp-for="CreatePerson.Phone" />
    <span asp-validation-for="CreatePerson.Phone"></span>

    <button>Create</button>
    <button type="reset">Reset</button>
</form>


<form asp-action="Index" method="post">
    <label asp-for="FilterText"></label>
    <input asp-for="FilterText" />
    <input type="submit" value="Filter by name" />
</form>

    @*<table>                   -------------------------------         First version         ---------------------------------------------------
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.PersonList)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.City</td>
                    <td>@item.Phone</td>
                    <td><a asp-action="Details" asp-route-id="@item.Id">Details</a></td>
                </tr>

            }

        </tbody>
    </table>*@

<hr />


<!-- -------------------------------------------------- Table ----------------------------------- -->
<div class="row">
    <div class="col-12">
        <!-- ------------------------------------------ Head ------------------------------------- -->
        <div class="row">
            <!-- Name -->
            <div class="col-4">
                <h5>Name</h5>
            </div>
            <!-- City -->
            <div class="col-4">
                <h5>City</h5>
            </div>
            <!-- Phone -->
            <div class="col-2">
                <h5>Phone</h5>
            </div>
            <!-- Action -->
            <div class="col-2">
                <h5>Action</h5>
            </div>
        </div>


        <!-- --------------------------------------- Body ---------------------------------- -->

        @foreach (var item in Model.PersonList)
        {
            <partial name="_APersonRowPartialView" model="item" />
            <!--<div class="row">-->  <!-- Everything that is comment out is transfered to the above "partial name"-->
                <!-- Name -->
                <!--<div class="col-4">
                    <p>@item.Name</p>
                </div>-->
                <!-- City -->
                <!--<div class="col-4">
                    <p>@item.City</p>
                </div>-->
                <!-- Phone -->
                <!--<div class="col-2">
                    <p>@item.Phone</p>
                </div>-->
                <!-- Action -->
                <!--<div class="col-2">
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                </div>
            </div>-->
        }
    </div>
</div>